
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>


@section LevelScriptJs{
    <script src="~/Content/Admin/pages/scripts/dashboard.min.js" type="text/javascript"></script>
}