
@{
    ViewBag.Title = "ShopList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="page-content">
    <!-- PAGE-BANNER START -->
    <div class="page-banner-area margin-bottom-80">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="page-banner-menu">
                        <h2 class="page-banner-title">Shop</h2>
                        <ul>
                            <li><a href="index.html">home</a></li>
                            <li>Shop List</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- PAGE-BANNER END -->
    <!-- SHOP-AREA START -->
    <div class="shop-area margin-bottom-80">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <span class="shop-border"></span>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <!-- widget-categories start -->
                    <aside class="widget widget-categories">
                        <h5>categories</h5>
                        <ul>
                            <li>
                                <a href="#">Mens</a>
                                <a href="#">Mens</a>
                                <a href="#">Mens</a>
                                <a href="#">Mens</a>
                            </li>
                            <li><a href="#">T-shirt</a></li>
                            <li><a href="#">Hoodies</a></li>
                            <li><a href="#">Tops</a></li>
                            <li><a href="#">Basics</a></li>
                            <li><a href="#">Accessories</a></li>
                            <li><a href="#">Accessories</a></li>
                            <li><a href="#">Modern Classics</a></li>
                        </ul>
                    </aside>
                    <!-- widget-categories end -->
                    <!-- shop-filter start -->
                    <aside class="widget shop-filter">
                        <h3 class="sidebar-title">price</h3>
                        <div class="info_widget">
                            <div id="slider-range"></div>
                            <div id="amount">
                                <input type="text" name="first_price" class="first_price" />
                                <input type="text" name="last_price" class="last_price" />
                            </div>
                            <button class="shop-now">Filter</button>
                        </div>
                    </aside>
                    <!-- shop-filter end -->
                    <!-- widget-color start -->
                    <aside class="widget widget-color">
                        <h5 class="sidebar-title">colore</h5>
                        <ul>
                            <li><a class="color-1" href="#"></a></li>
                            <li><a class="color-2" href="#"></a></li>
                            <li><a class="color-3" href="#"></a></li>
                            <li><a class="color-4" href="#"></a></li>
                            <li><a class="color-5" href="#"></a></li>
                        </ul>
                    </aside>
                    <!-- widget-color end -->
                    <!-- widget-brand start -->
                    <aside class="widget widget-brand">
                        <h5 class="sidebar-title">Brand</h5>
                        <ul>
                            <li><input type="checkbox" /><a href="#">Country Road</a></li>
                            <li><input type="checkbox" /><a href="#">H&M Home</a></li>
                            <li><input type="checkbox" /><a href="#">Urban outfitters</a></li>
                            <li><input type="checkbox" /><a href="#">Zara home</a></li>
                        </ul>
                    </aside>
                    <!-- widget-brand end -->
                    <!-- widget-top-brand start -->
                    <aside class="widget top-rated hidden-sm">
                        <h5 class="sidebar-title">top rated</h5>
                        <div class="sidebar-product">
                            <!-- Single-product start -->
                            <div class="single-product">
                                <div class="product-photo">
                                    <a href="#">
                                        <img class="primary-photo" src="img/sidebar/1.png" alt="" />
                                    </a>
                                </div>
                                <div class="product-brief">
                                    <h2><a href="#">Randomised Words</a></h2>
                                    <h3>$500.00 <span>$244.00</span></h3>
                                </div>
                            </div>
                            <!-- Single-product end -->
                            <!-- Single-product start -->
                            <div class="single-product">
                                <div class="product-photo">
                                    <a href="#">
                                        <img class="primary-photo" src="img/sidebar/2.png" alt="" />
                                    </a>
                                </div>
                                <div class="product-brief">
                                    <h2><a href="#">CLEO POURER</a></h2>
                                    <h3>$500.00 <span>$244.00</span></h3>
                                </div>
                            </div>
                            <!-- Single-product end -->
                            <!-- Single-product start -->
                            <div class="single-product">
                                <div class="product-photo">
                                    <a href="#">
                                        <img class="primary-photo" src="img/sidebar/3.png" alt="" />
                                    </a>
                                </div>
                                <div class="product-brief">
                                    <h2><a href="#">TAM SPREADER</a></h2>
                                    <h3>$500.00 <span>$244.00</span></h3>
                                </div>
                            </div>
                            <!-- Single-product end -->
                            <!-- Single-product start -->
                            <div class="single-product">
                                <div class="product-photo">
                                    <a href="#">
                                        <img class="primary-photo" src="img/sidebar/4.png" alt="" />
                                    </a>
                                </div>
                                <div class="product-brief">
                                    <h2><a href="#">MARCEL THROW</a></h2>
                                    <h3>$500.00 <span>$244.00</span></h3>
                                </div>
                            </div>
                            <!-- Single-product end -->
                            <!-- Single-product start -->
                            <div class="single-product">
                                <div class="product-photo">
                                    <a href="#">
                                        <img class="primary-photo" src="img/sidebar/5.png" alt="" />
                                    </a>
                                </div>
                                <div class="product-brief">
                                    <h2><a href="#">RLIE EXTRA SMALL</a></h2>
                                    <h3>$500.00 <span>$244.00</span></h3>
                                </div>
                            </div>
                            <!-- Single-product end -->
                        </div>
                    </aside>
                    <!-- widget-top-brand end -->
                    <!-- widget sidebar-banner start -->
                    <aside class="widget sidebar-banner">
                        <a href="#"><img src="img/banner/sidebar-1.jpg" alt="" /></a>
                    </aside>
                    <!-- widget sidebar-banner start -->
                </div>

                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                    <!-- Shop-Content start -->
                    @{Html.RenderAction("ListProduct");}
                    
                    <!-- Shop-Content end -->
                </div>
            </div>
        </div>
    </div>
    <!-- SHOP-AREA END -->
    <!-- BANNER-AREA START -->
    <div class="banner-area fix margin-bottom-80">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="best-product-banner">
                        <a href="#"><img src="img/banner/best-product-banner.jpg" alt="" /></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- BANNER-AREA END -->
    <!-- BANNER-AREA START -->
    <div class="banner-area fix margin-bottom-80">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="banner-photo">
                        <a href="#"><img src="img/banner/4.jpg" alt="" /></a>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="banner-6">
                        <div class="section-title-2">
                            <h2 class="border-left-rights">product description</h2>
                        </div>
                        <h3><a href="#">Slim Oxford Shirt</a></h3>
                        <span>$144.44</span>
                        <p>An oxford shirt sharp and reliable essential. durable woven texture in premium two-ply cotton, it is the perfect complement to suiting and urban knits. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- BANNER-AREA END -->
    <!-- SERVICE-AREA START -->
    <div class="service-area margin-bottom-80">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="single-service">
                        <div class="service-icon">
                            <i class="sp-transport"></i>
                        </div>
                        <div class="service-brief">
                            <h3>free shipping</h3>
                            <p>There are many variations of passages of Lorem Ipsum available, alteration</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="single-service">
                        <div class="service-icon">
                            <i class="sp-head-phone"></i>
                        </div>
                        <div class="service-brief">
                            <h3>help line</h3>
                            <p>(+112) 1925184203 - call any time for any support Lorem Ipsum available, alteration </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="single-service">
                        <div class="service-icon">
                            <i class="sp-business"></i>
                        </div>
                        <div class="service-brief">
                            <h3>money back guarantee</h3>
                            <p>There are many variations of passages of Lorem Ipsum available, alteration</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- SERVICE-AREA END -->
</section>
