@model IEnumerable<Model.EF.ProductCategory>
<div class="col-md-8 hidden-sm hidden-xs">
    <div class="main-menu pull-right">
        <nav>
            <ul>
                <li>
                    <a href="/Home/Index">home</a>
                    @*<ul class="submenu">
                            <li class="submenu-title"><a href="#">Home pages</a></li>
                            <li><a href="index.html">Homepage Version 1</a></li>
                            <li><a href="index-2.html">Homepage Version 2</a></li>
                        </ul>*@
                </li>
                <li>
                    <a href="/Product/ShopList?categoryId=1">mens</a>

                    <div class="mega-menu">
                        @foreach (var item in Model.Where(x => x.ParentID == 1))
                        {
                            var child = Model.Where(x => x.ParentID == item.ID);
                            var countChild = child.Count();
                            <span>
                                <a class="mega-menu-title" href="/Product/ShopList?categoryId=@item.ID">@item.Name</a>
                                @if (countChild > 0)
                                {
                                    foreach (var childItem in child)
                                    {
                                        <a href="/Product/ShopList?categoryId=@childItem.ID">@childItem.Name</a>
                                    }

                                }

                            </span>
                        }


                        <span class="mega-menu-photo">
                            <a href="#"><img src="~/Content/Client/img/megamenu/1.jpg" alt="" /></a>
                        </span>
                    </div>
                </li>

                <li><a href="/Product/ShopList?categoryId=2">womens</a></li>
                @*<li>
                        <a href="shop.html">shop</a>
                        <div class="mega-menu">
                            <span>
                                <a class="mega-menu-title" href="#">WOMEN CLOTH</a>
                                <a href="#">casual shirt</a>
                                <a href="#">rikke t-shirt</a>
                                <a href="#">mia top</a>
                                <a href="#">mia top</a>
                                <a href="#">muscle tee</a>
                                <a href="#">seine blouse</a>
                            </span>
                            <span>
                                <a class="mega-menu-title" href="#">MEN CLOTH</a>
                                <a href="#">casual shirt</a>
                                <a href="#">t-shirt</a>
                                <a href="#">t-shirt</a>
                                <a href="#">zeans</a>
                                <a href="#">trousers/ pants </a>
                                <a href="#">sweamwear</a>
                            </span>
                            <span>
                                <a class="mega-menu-title" href="#">WOMEN JEWELRY</a>
                                <a href="#">necklace</a>
                                <a href="#">samhar cuff</a>
                                <a href="#">samhar cuff</a>
                                <a href="#">samhar cuff</a>
                                <a href="#">nail set</a>
                                <a href="#">drop earrings</a>
                            </span>
                            <span class="mega-menu-photo">
                                <a href="#"><img src="~/Content/Client/img/megamenu/1.jpg" alt="" /></a>
                            </span>
                        </div>
                    </li>*@
                @*<li>
                        <a href="blog.html">blog</a>
                        <ul class="submenu">
                            <li class="submenu-title"><a href="#">Blog pages</a></li>
                            <li><a href="blog.html">Blog</a></li>
                            <li><a href="single-blog.html">Single-blog</a></li>
                        </ul>
                    </li>*@
                <!--
                <li><a href="about.html">about</a></li> -->
                <li><a href="/Home/Contact">contact</a></li>
            </ul>
        </nav>
    </div>
</div>
