@{
    ViewBag.Title = "Home Page";
}

<!-- SLIDER-AREA START -->
@{ Html.RenderAction("TopSlide");}
<!-- SLIDER-AREA END -->
<!-- BANNER-STYLE-2-AREA START -->
<div class="banner-style-2-area fix">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-lg-offset-3 col-md-offset-3 padding-0">
                <div class="banner-style-2">
                    <div class="single-banner-style-2 banner-brief-1">
                        <div class="left-banner-img">
                            <img class="" src="~/Content/Client/img/banner/3.png" alt="" />
                        </div>
                        <div class="left-banner-brief">
                            <h3>new fashion collection</h3>
                            <h4>passages dress</h4>
                            <h4>$50.00</h4>
                            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical.</p>
                            <a href="#" class="shop-now">Shop Now</a>
                        </div>
                    </div>
                    <div class="single-banner-style-2 banner-brief-2">
                        <div class="right-banner-brief">
                            <h3>exclusive for men</h3>
                            <h4>passages dress</h4>
                            <h4>$50.00</h4>
                            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical.</p>
                            <a href="#" class="shop-now">Shop Now</a>
                        </div>
                        <div class="right-banner-img">
                            <img class="" src="~/Content/Client/img/banner/4.png" alt="" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- BANNER-STYLE-2-AREA END -->
<!-- NEW-COLLECTION START -->
<div class="new-collection-area fix style-2 margin-bottom-80">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title-2 bordr-rights">
                    <h2 class="border-left-rights">New Collection</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="new-collection active-new-collection-2">
        <!-- Single-product start -->
        <div class="single-product new-colect">
            <div class="product-photo">
                <a href="#">
                    <img class="primary-photo" src="~/Content/Client/img/new-collection/new-2/1.jpg" alt="" />
                    <img class="secondary-photo" src="~/Content/Client/img/new-collection/new-2/5.jpg" alt="" />
                </a>
                <div class="pro-action">
                    <a href="#" class="action-btn"><i class="sp-heart"></i><span>Wishlist</span></a>
                    <a href="#" class="action-btn"><i class="sp-shopping-cart"></i><span>Add to cart</span></a>
                    <a href="#" class="action-btn"><i class="sp-compare-alt"></i><span>Compare</span></a>
                </div>
            </div>
            <div class="product-brief">
                <div class="pro-rating">
                    <a href="#"><i class="sp-star rating-1"></i></a>
                    <a href="#"><i class="sp-star rating-1"></i></a>
                    <a href="#"><i class="sp-star rating-1"></i></a>
                    <a href="#"><i class="sp-star rating-1"></i></a>
                    <a href="#"><i class="sp-star rating-2"></i></a>
                </div>
                <h2><a href="#">Randomised Words</a></h2>
                <h3>$500.00</h3>
            </div>
        </div>
        <!-- Single-product end -->
        <!-- Single-product start -->
        <div class="single-product new-colect">
            <div class="product-photo">
                <a href="#">
                    <img class="primary-photo" src="~/Content/Client/img/new-collection/new-2/2.jpg" alt="" />
                    <img class="secondary-photo" src="~/Content/Client/img/new-collection/new-2/4.jpg" alt="" />
                </a>
                <div class="pro-action">
                    <a href="#" class="action-btn"><i class="sp-heart"></i><span>Wishlist</span></a>
                    <a href="#" class="action-btn"><i class="sp-shopping-cart"></i><span>Add to cart</span></a>
                    <a href="#" class="action-btn"><i class="sp-compare-alt"></i><span>Compare</span></a>
                </div>
            </div>
            <div class="product-brief">
                <div class="pro-rating">
                    <a href="#"><i class="sp-star rating-1"></i></a>
                    <a href="#"><i class="sp-star rating-1"></i></a>
                    <a href="#"><i class="sp-star rating-1"></i></a>
                    <a href="#"><i class="sp-star rating-1"></i></a>
                    <a href="#"><i class="sp-star rating-2"></i></a>
                </div>
                <h2><a href="#">Randomised Words</a></h2>
                <h3>$500.00</h3>
            </div>
        </div>
        <!-- Single-product end -->
        <!-- Single-product start -->
        <div class="single-product new-colect">
            <div class="product-photo">
                <a href="#">
                    <img class="primary-photo" src="~/Content/Client/img/new-collection/new-2/3.jpg" alt="" />
                    <img class="secondary-photo" src="~/Content/Client/img/new-collection/new-2/1.jpg" alt="" />
                </a>
                <div class="pro-action">
                    <a href="#" class="action-btn"><i class="sp-heart"></i><span>Wishlist</span></a>
                    <a href="#" class="action-btn"><i class="sp-shopping-cart"></i><span>Add to cart</span></a>
                    <a href="#" class="action-btn"><i class="sp-compare-alt"></i><span>Compare</span></a>
                </div>
            </div>
            <div class="product-brief">
                <div class="pro-rating">
                    <a href="#"><i class="sp-star rating-1"></i></a>
                    <a href="#"><i class="sp-star rating-1"></i></a>
                    <a href="#"><i class="sp-star rating-1"></i></a>
                    <a href="#"><i class="sp-star rating-1"></i></a>
                    <a href="#"><i class="sp-star rating-2"></i></a>
                </div>
                <h2><a href="#">Randomised Words</a></h2>
                <h3>$500.00</h3>
            </div>
        </div>
        <!-- Single-product end -->
        <!-- Single-product start -->
        <div class="single-product new-colect">
            <div class="product-photo">
                <a href="#">
                    <img class="primary-photo" src="~/Content/Client/img/new-collection/new-2/4.jpg" alt="" />
                    <img class="secondary-photo" src="~/Content/Client/img/new-collection/new-2/2.jpg" alt="" />
                </a>
                <div class="pro-action">
                    <a href="#" class="action-btn"><i class="sp-heart"></i><span>Wishlist</span></a>
                    <a href="#" class="action-btn"><i class="sp-shopping-cart"></i><span>Add to cart</span></a>
                    <a href="#" class="action-btn"><i class="sp-compare-alt"></i><span>Compare</span></a>
                </div>
            </div>
            <div class="product-brief">
                <div class="pro-rating">
                    <a href="#"><i class="sp-star rating-1"></i></a>
                    <a href="#"><i class="sp-star rating-1"></i></a>
                    <a href="#"><i class="sp-star rating-1"></i></a>
                    <a href="#"><i class="sp-star rating-1"></i></a>
                    <a href="#"><i class="sp-star rating-2"></i></a>
                </div>
                <h2><a href="#">Randomised Words</a></h2>
                <h3>$500.00</h3>
            </div>
        </div>
        <!-- Single-product end -->
        <!-- Single-product start -->
        <div class="single-product new-colect">
            <div class="product-photo">
                <a href="#">
                    <img class="primary-photo" src="~/Content/Client/img/new-collection/new-2/5.jpg" alt="" />
                    <img class="secondary-photo" src="~/Content/Client/img/new-collection/new-2/3.jpg" alt="" />
                </a>
                <div class="pro-action">
                    <a href="#" class="action-btn"><i class="sp-heart"></i><span>Wishlist</span></a>
                    <a href="#" class="action-btn"><i class="sp-shopping-cart"></i><span>Add to cart</span></a>
                    <a href="#" class="action-btn"><i class="sp-compare-alt"></i><span>Compare</span></a>
                </div>
            </div>
            <div class="product-brief">
                <div class="pro-rating">
                    <a href="#"><i class="sp-star rating-1"></i></a>
                    <a href="#"><i class="sp-star rating-1"></i></a>
                    <a href="#"><i class="sp-star rating-1"></i></a>
                    <a href="#"><i class="sp-star rating-1"></i></a>
                    <a href="#"><i class="sp-star rating-2"></i></a>
                </div>
                <h2><a href="#">Randomised Words</a></h2>
                <h3>$500.00</h3>
            </div>
        </div>
        <!-- Single-product end -->
    </div>
</div>
<!-- NEW-COLLECTION END -->
<!-- PROMOTIONAL-BANNER START -->
<div class="promotional-banner-area fix style-2 margin-bottom-80">
    <div class="promotional-banner">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <!-- Single-promo start -->
                    <div class="single-promo-banner promo-banner-3">
                        <div class="promo-banner-brief">
                            <div class="upcomming-brief">
                                <h2>upcomming best collection</h2>
                                <h3><span>degles</span> warm</h3>
                                <ul>
                                    <li>100% cotton</li>
                                    <li>best manufacturing</li>
                                    <li>high quality materials</li>
                                </ul>
                                <a class="shop-now" href="#">pre order</a>
                            </div>
                        </div>
                    </div>
                    <!-- Single-promo End -->
                    <!-- Single-promo start -->
                    <div class="single-promo-banner promo-banner-4">
                        <a class="shop-now" href="#">pre order</a>
                        <div class="promo-banner-brief">
                            <div class="count-down">
                                <div class="timer">
                                    <div data-countdown="2020/12/31"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Single-promo End -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- PROMOTIONAL-BANNER END -->
<!-- BEST-SELL-AREA START -->
<div class="best-sell-area fix style-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-5 col-sm-6 col-xs-12">
                <div class="section-title-2">
                    <h2 class="border-left-rights">Featured Collection</h2>
                </div>
            </div>
            <div class="col-lg-8 col-md-7 col-sm-6 col-xs-12">
                <!-- best-sell-menu -->
                <ul role="tablist" class="best-sell-menu">
                    <li role="presentation" class="active"><a href="#men" role="tab" data-toggle="tab">Men</a></li>
                    <li role="presentation"><a href="#women" role="tab" data-toggle="tab">Women</a></li>
                    <li role="presentation"><a href="#accessories" role="tab" data-toggle="tab">Accessories</a></li>
                </ul>
                <!-- best-sell-product -->
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="tab-content best-sell-product">
                    <div role="tabpanel" class="tab-pane fade in active" id="men">
                        <div class="row">
                            <div class="active-best-sell navigation-top-right">
                                <div class="col-md-12">
                                    <!-- Single-product start -->
                                    <div class="single-product">
                                        <div class="product-photo">
                                            <a href="#">
                                                <img class="primary-photo" src="~/Content/Client/img/best-sell/1.jpg" alt="" />
                                                <img class="secondary-photo" src="~/Content/Client/img/best-sell/6.jpg" alt="" />
                                            </a>
                                            <div class="pro-action">
                                                <a href="#" class="action-btn"><i class="sp-heart"></i><span>Wishlist</span></a>
                                                <a href="#" class="action-btn"><i class="sp-shopping-cart"></i><span>Add to cart</span></a>
                                                <a href="#" class="action-btn"><i class="sp-compare-alt"></i><span>Compare</span></a>
                                            </div>
                                        </div>
                                        <div class="product-brief">
                                            <h2><a href="#">Randomised Words</a></h2>
                                            <div class="product-brief-inner">
                                                <h3>$500.00</h3>
                                                <div class="pro-rating">
                                                    <a href="#"><i class="sp-star rating-1"></i></a>
                                                    <a href="#"><i class="sp-star rating-1"></i></a>
                                                    <a href="#"><i class="sp-star rating-1"></i></a>
                                                    <a href="#"><i class="sp-star rating-1"></i></a>
                                                    <a href="#"><i class="sp-star rating-2"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Single-product end -->
                                    <!-- Single-product start -->
                                    <div class="single-product">
                                        <div class="product-photo">
                                            <a href="#">
                                                <img class="primary-photo" src="~/Content/Client/img/best-sell/4.jpg" alt="" />
                                                <img class="secondary-photo" src="~/Content/Client/img/best-sell/1.jpg" alt="" />
                                            </a>
                                            <div class="pro-action">
                                                <a href="#" class="action-btn"><i class="sp-heart"></i><span>Wishlist</span></a>
                                                <a href="#" class="action-btn"><i class="sp-shopping-cart"></i><span>Add to cart</span></a>
                                                <a href="#" class="action-btn"><i class="sp-compare-alt"></i><span>Compare</span></a>
                                            </div>
                                        </div>
                                        <div class="product-brief">
                                            <h2><a href="#">Randomised Words</a></h2>
                                            <div class="product-brief-inner">
                                                <h3>$500.00</h3>
                                                <div class="pro-rating">
                                                    <a href="#"><i class="sp-star rating-1"></i></a>
                                                    <a href="#"><i class="sp-star rating-1"></i></a>
                                                    <a href="#"><i class="sp-star rating-1"></i></a>
                                                    <a href="#"><i class="sp-star rating-1"></i></a>
                                                    <a href="#"><i class="sp-star rating-2"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Single-product end -->
                                </div>
                                <div class="col-md-12">
                                    <!-- Single-product start -->
                                    <div class="single-product">
                                        <div class="product-photo">
                                            <a href="#">
                                                <img class="primary-photo" src="~/Content/Client/img/best-sell/2.jpg" alt="" />
                                                <img class="secondary-photo" src="~/Content/Client/img/best-sell/4.jpg" alt="" />
                                            </a>
                                            <div class="pro-action">
                                                <a href="#" class="action-btn"><i class="sp-heart"></i><span>Wishlist</span></a>
                                                <a href="#" class="action-btn"><i class="sp-shopping-cart"></i><span>Add to cart</span></a>
                                                <a href="#" class="action-btn"><i class="sp-compare-alt"></i><span>Compare</span></a>
                                            </div>
                                        </div>
                                        <div class="product-brief">
                                            <h2><a href="#">Randomised Words</a></h2>
                                            <div class="product-brief-inner">
                                                <h3>$500.00</h3>
                                                <div class="pro-rating">
                                                    <a href="#"><i class="sp-star rating-1"></i></a>
                                                    <a href="#"><i class="sp-star rating-1"></i></a>
                                                    <a href="#"><i class="sp-star rating-1"></i></a>
                                                    <a href="#"><i class="sp-star rating-1"></i></a>
                                                    <a href="#"><i class="sp-star rating-2"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Single-product end -->
                                    <!-- Single-product start -->
                                    <div class="single-product">
                                        <div class="product-photo">
                                            <a href="#">
                                                <img class="primary-photo" src="~/Content/Client/img/best-sell/5.jpg" alt="" />
                                                <img class="secondary-photo" src="~/Content/Client/img/best-sell/1.jpg" alt="" />
                                            </a>
                                            <div class="pro-action">
                                                <a href="#" class="action-btn"><i class="sp-heart"></i><span>Wishlist</span></a>
                                                <a href="#" class="action-btn"><i class="sp-shopping-cart"></i><span>Add to cart</span></a>
                                                <a href="#" class="action-btn"><i class="sp-compare-alt"></i><span>Compare</span></a>
                                            </div>
                                        </div>
                                        <div class="product-brief">
                                            <h2><a href="#">Randomised Words</a></h2>
                                            <div class="product-brief-inner">
                                                <h3>$500.00</h3>
                                                <div class="pro-rating">
                                                    <a href="#"><i class="sp-star rating-1"></i></a>
                                                    <a href="#"><i class="sp-star rating-1"></i></a>
                                                    <a href="#"><i class="sp-star rating-1"></i></a>
                                                    <a href="#"><i class="sp-star rating-1"></i></a>
                                                    <a href="#"><i class="sp-star rating-2"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Single-product end -->
                                </div>
                                <div class="col-md-12">
                                    <!-- Single-product start -->
                                    <div class="single-product">
                                        <div class="product-photo">
                                            <a href="#">
                                                <img class="primary-photo" src="~/Content/Client/img/best-sell/4.jpg" alt="" />
                                                <img class="secondary-photo" src="~/Content/Client/img/best-sell/5.jpg" alt="" />
                                            </a>
                                            <div class="pro-action">
                                                <a href="#" class="action-btn"><i class="sp-heart"></i><span>Wishlist</span></a>
                                                <a href="#" class="action-btn"><i class="sp-shopping-cart"></i><span>Add to cart</span></a>
                                                <a href="#" class="action-btn"><i class="sp-compare-alt"></i><span>Compare</span></a>
                                            </div>
                                        </div>
                                        <div class="product-brief">
                                            <h2><a href="#">Randomised Words</a></h2>
                                            <div class="product-brief-inner">
                                                <h3>$500.00</h3>
                                                <div class="pro-rating">
                                                    <a href="#"><i class="sp-star rating-1"></i></a>
                                                    <a href="#"><i class="sp-star rating-1"></i></a>
                                                    <a href="#"><i class="sp-star rating-1"></i></a>
                                                    <a href="#"><i class="sp-star rating-1"></i></a>
                                                    <a href="#"><i class="sp-star rating-2"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Single-product end -->
                                    <!-- Single-product start -->
                                    <div class="single-product">
                                        <div class="product-photo">
                                            <a href="#">
                                                <img class="primary-photo" src="~/Content/Client/img/best-sell/2.jpg" alt="" />
                                                <img class="secondary-photo" src="~/Content/Client/img/best-sell/4.jpg" alt="" />
                                            </a>
                                            <div class="pro-action">
                                                <a href="#" class="action-btn"><i class="sp-heart"></i><span>Wishlist</span></a>
                                                <a href="#" class="action-btn"><i class="sp-shopping-cart"></i><span>Add to cart</span></a>
                                                <a href="#" class="action-btn"><i class="sp-compare-alt"></i><span>Compare</span></a>
                                            </div>
                                        </div>
                                        <div class="product-brief">
                                            <h2><a href="#">Randomised Words</a></h2>
                                            <div class="product-brief-inner">
                                                <h3>$500.00</h3>
                                                <div class="pro-rating">
                                                    <a href="#"><i class="sp-star rating-1"></i></a>
                                                    <a href="#"><i class="sp-star rating-1"></i></a>
                                                    <a href="#"><i class="sp-star rating-1"></i></a>
                                                    <a href="#"><i class="sp-star rating-1"></i></a>
                                                    <a href="#"><i class="sp-star rating-2"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Single-product end -->
                                </div>
                                <div class="col-md-12">
                                    <!-- Single-product start -->
                                    <div class="single-product">
                                        <div class="product-photo">
                                            <a href="#">
                                                <img class="primary-photo" src="~/Content/Client/img/best-sell/3.jpg" alt="" />
                                                <img class="secondary-photo" src="~/Content/Client/img/best-sell/5.jpg" alt="" />
                                            </a>
                                            <div class="pro-action">
                                                <a href="#" class="action-btn"><i class="sp-heart"></i><span>Wishlist</span></a>
                                                <a href="#" class="action-btn"><i class="sp-shopping-cart"></i><span>Add to cart</span></a>
                                                <a href="#" class="action-btn"><i class="sp-compare-alt"></i><span>Compare</span></a>
                                            </div>
                                        </div>
                                        <div class="product-brief">
                                            <h2><a href="#">Randomised Words</a></h2>
                                            <div class="product-brief-inner">
                                                <h3>$500.00</h3>
                                                <div class="pro-rating">
                                                    <a href="#"><i class="sp-star rating-1"></i></a>
                                                    <a href="#"><i class="sp-star rating-1"></i></a>
                                                    <a href="#"><i class="sp-star rating-1"></i></a>
                                                    <a href="#"><i class="sp-star rating-1"></i></a>
                                                    <a href="#"><i class="sp-star rating-2"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Single-product end -->
                                    <!-- Single-product start -->
                                    <div class="single-product">
                                        <div class="product-photo">
                                            <a href="#">
                                                <img class="primary-photo" src="~/Content/Client/img/best-sell/6.jpg" alt="" />
                                                <img class="secondary-photo" src="~/Content/Client/img/best-sell/2.jpg" alt="" />
                                            </a>
                                            <div class="pro-action">
                                                <a href="#" class="action-btn"><i class="sp-heart"></i><span>Wishlist</span></a>
                                                <a href="#" class="action-btn"><i class="sp-shopping-cart"></i><span>Add to cart</span></a>
                                                <a href="#" class="action-btn"><i class="sp-compare-alt"></i><span>Compare</span></a>
                                            </div>
                                        </div>
                                        <div class="product-brief">
                                            <h2><a href="#">Randomised Words</a></h2>
                                            <div class="product-brief-inner">
                                                <h3>$500.00</h3>
                                                <div class="pro-rating">
                                                    <a href="#"><i class="sp-star rating-1"></i></a>
                                                    <a href="#"><i class="sp-star rating-1"></i></a>
                                                    <a href="#"><i class="sp-star rating-1"></i></a>
                                                    <a href="#"><i class="sp-star rating-1"></i></a>
                                                    <a href="#"><i class="sp-star rating-2"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Single-product end -->
                                </div>
                                <div class="col-md-12">
                                    <!-- Single-product start -->
                                    <div class="single-product">
                                        <div class="product-photo">
                                            <a href="#">
                                                <img class="primary-photo" src="~/Content/Client/img/best-sell/3.jpg" alt="" />
                                                <img class="secondary-photo" src="~/Content/Client/img/best-sell/5.jpg" alt="" />
                                            </a>
                                            <div class="pro-action">
                                                <a href="#" class="action-btn"><i class="sp-heart"></i><span>Wishlist</span></a>
                                                <a href="#" class="action-btn"><i class="sp-shopping-cart"></i><span>Add to cart</span></a>
                                                <a href="#" class="action-btn"><i class="sp-compare-alt"></i><span>Compare</span></a>
                                            </div>
                                        </div>
                                        <div class="product-brief">
                                            <h2><a href="#">Randomised Words</a></h2>
                                            <div class="product-brief-inner">
                                                <h3>$500.00</h3>
                                                <div class="pro-rating">
                                                    <a href="#"><i class="sp-star rating-1"></i></a>
                                                    <a href="#"><i class="sp-star rating-1"></i></a>
                                                    <a href="#"><i class="sp-star rating-1"></i></a>
                                                    <a href="#"><i class="sp-star rating-1"></i></a>
                                                    <a href="#"><i class="sp-star rating-2"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Single-product end -->
                                    <!-- Single-product start -->
                                    <div class="single-product">
                                        <div class="product-photo">
                                            <a href="#">
                                                <img class="primary-photo" src="~/Content/Client/img/best-sell/6.jpg" alt="" />
                                                <img class="secondary-photo" src="~/Content/Client/img/best-sell/2.jpg" alt="" />
                                            </a>
                                            <div class="pro-action">
                                                <a href="#" class="action-btn"><i class="sp-heart"></i><span>Wishlist</span></a>
                                                <a href="#" class="action-btn"><i class="sp-shopping-cart"></i><span>Add to cart</span></a>
                                                <a href="#" class="action-btn"><i class="sp-compare-alt"></i><span>Compare</span></a>
                                            </div>
                                        </div>
                                        <div class="product-brief">
                                            <h2><a href="#">Randomised Words</a></h2>
                                            <div class="product-brief-inner">
                                                <h3>$500.00</h3>
                                                <div class="pro-rating">
                                                    <a href="#"><i class="sp-star rating-1"></i></a>
                                                    <a href="#"><i class="sp-star rating-1"></i></a>
                                                    <a href="#"><i class="sp-star rating-1"></i></a>
                                                    <a href="#"><i class="sp-star rating-1"></i></a>
                                                    <a href="#"><i class="sp-star rating-2"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Single-product end -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="women">
                        <div class="row">
                            <div class="active-best-sell navigation-top-right">
                                <div class="col-md-12">
                                    <!-- Single-product start -->
                                    <div class="single-product">
                                        <div class="product-photo">
                                            <a href="#">
                                                <img class="primary-photo" src="~/Content/Client/img/best-sell/6.jpg" alt="" />
                                                <img class="secondary-photo" src="~/Content/Client/img/best-sell/1.jpg" alt="" />
                                            </a>
                                            <div class="pro-action">
                                                <a href="#" class="action-btn"><i class="sp-heart"></i><span>Wishlist</span></a>
                                                <a href="#" class="action-btn"><i class="sp-shopping-cart"></i><span>Add to cart</span></a>
                                                <a href="#" class="action-btn"><i class="sp-compare-alt"></i><span>Compare</span></a>
                                            </div>
                                        </div>
                                        <div class="product-brief">
                                            <h2><a href="#">Randomised Words</a></h2>
                                            <div class="product-brief-inner">
                                                <h3>$500.00</h3>
                                                <div class="pro-rating">
                                                    <a href="#"><i class="sp-star rating-1"></i></a>
                                                    <a href="#"><i class="sp-star rating-1"></i></a>
                                                    <a href="#"><i class="sp-star rating-1"></i></a>
                                                    <a href="#"><i class="sp-star rating-1"></i></a>
                                                    <a href="#"><i class="sp-star rating-2"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Single-product end -->
                                    <!-- Single-product start -->
                                    <div class="single-product">
                                        <div class="product-photo">
                                            <a href="#">
                                                <img class="primary-photo" src="~/Content/Client/img/best-sell/4.jpg" alt="" />
                                                <img class="secondary-photo" src="~/Content/Client/img/best-sell/1.jpg" alt="" />
                                            </a>
                                            <div class="pro-action">
                                                <a href="#" class="action-btn"><i class="sp-heart"></i><span>Wishlist</span></a>
                                                <a href="#" class="action-btn"><i class="sp-shopping-cart"></i><span>Add to cart</span></a>
                                                <a href="#" class="action-btn"><i class="sp-compare-alt"></i><span>Compare</span></a>
                                            </div>
                                        </div>
                                        <div class="product-brief">
                                            <h2><a href="#">Randomised Words</a></h2>
                                            <div class="product-brief-inner">
                                                <h3>$500.00</h3>
                                                <div class="pro-rating">
                                                    <a href="#"><i class="sp-star rating-1"></i></a>
                                                    <a href="#"><i class="sp-star rating-1"></i></a>
                                                    <a href="#"><i class="sp-star rating-1"></i></a>
                                                    <a href="#"><i class="sp-star rating-1"></i></a>
                                                    <a href="#"><i class="sp-star rating-2"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Single-product end -->
                                </div>
                                <div class="col-md-12">
                                    <!-- Single-product start -->
                                    <div class="single-product">
                                        <div class="product-photo">
                                            <a href="#">
                                                <img class="primary-photo" src="~/Content/Client/img/best-sell/5.jpg" alt="" />
                                                <img class="secondary-photo" src="~/Content/Client/img/best-sell/2.jpg" alt="" />
                                            </a>
                                            <div class="pro-action">
                                                <a href="#" class="action-btn"><i class="sp-heart"></i><span>Wishlist</span></a>
                                                <a href="#" class="action-btn"><i class="sp-shopping-cart"></i><span>Add to cart</span></a>
                                                <a href="#" class="action-btn"><i class="sp-compare-alt"></i><span>Compare</span></a>
                                            </div>
                                        </div>
                                        <div class="product-brief">
                                            <h2><a href="#">Randomised Words</a></h2>
                                            <div class="product-brief-inner">
                                                <h3>$500.00</h3>
                                                <div class="pro-rating">
                                                    <a href="#"><i class="sp-star rating-1"></i></a>
                                                    <a href="#"><i class="sp-star rating-1"></i></a>
                                                    <a href="#"><i class="sp-star rating-1"></i></a>
                                                    <a href="#"><i class="sp-star rating-1"></i></a>
                                                    <a href="#"><i class="sp-star rating-2"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Single-product end -->
                                    <!-- Single-product start -->
                                    <div class="single-product">
                                        <div class="product-photo">
                                            <a href="#">
                                                <img class="primary-photo" src="~/Content/Client/img/best-sell/5.jpg" alt="" />
                                                <img class="secondary-photo" src="~/Content/Client/img/best-sell/1.jpg" alt="" />
                                            </a>
                                            <div class="pro-action">
                                                <a href="#" class="action-btn"><i class="sp-heart"></i><span>Wishlist</span></a>
                                                <a href="#" class="action-btn"><i class="sp-shopping-cart"></i><span>Add to cart</span></a>
                                                <a href="#" class="action-btn"><i class="sp-compare-alt"></i><span>Compare</span></a>
                                            </div>
                                        </div>
                                        <div class="product-brief">
                                            <h2><a href="#">Randomised Words</a></h2>
                                            <div class="product-brief-inner">
                                                <h3>$500.00</h3>
                                                <div class="pro-rating">
                                                    <a href="#"><i class="sp-star rating-1"></i></a>
                                                    <a href="#"><i class="sp-star rating-1"></i></a>
                                                    <a href="#"><i class="sp-star rating-1"></i></a>
                                                    <a href="#"><i class="sp-star rating-1"></i></a>
                                                    <a href="#"><i class="sp-star rating-2"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Single-product end -->
                                </div>
                                <div class="col-md-12">
                                    <!-- Single-product start -->
                                    <div class="single-product">
                                        <div class="product-photo">
                                            <a href="#">
                                                <img class="primary-photo" src="~/Content/Client/img/best-sell/4.jpg" alt="" />
                                                <img class="secondary-photo" src="~/Content/Client/img/best-sell/1.jpg" alt="" />
                                            </a>
                                            <div class="pro-action">
                                                <a href="#" class="action-btn"><i class="sp-heart"></i><span>Wishlist</span></a>
                                                <a href="#" class="action-btn"><i class="sp-shopping-cart"></i><span>Add to cart</span></a>
                                                <a href="#" class="action-btn"><i class="sp-compare-alt"></i><span>Compare</span></a>
                                            </div>
                                        </div>
                                        <div class="product-brief">
                                            <h2><a href="#">Randomised Words</a></h2>
                                            <div class="product-brief-inner">
                                                <h3>$500.00</h3>
                                                <div class="pro-rating">
                                                    <a href="#"><i class="sp-star rating-1"></i></a>
                                                    <a href="#"><i class="sp-star rating-1"></i></a>
                                                    <a href="#"><i class="sp-star rating-1"></i></a>
                                                    <a href="#"><i class="sp-star rating-1"></i></a>
                                                    <a href="#"><i class="sp-star rating-2"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Single-product end -->
                                    <!-- Single-product start -->
                                    <div class="single-product">
                                        <div class="product-photo">
                                            <a href="#">
                                                <img class="primary-photo" src="~/Content/Client/img/best-sell/6.jpg" alt="" />
                                                <img class="secondary-photo" src="~/Content/Client/img/best-sell/2.jpg" alt="" />
                                            </a>
                                            <div class="pro-action">
                                                <a href="#" class="action-btn"><i class="sp-heart"></i><span>Wishlist</span></a>
                                                <a href="#" class="action-btn"><i class="sp-shopping-cart"></i><span>Add to cart</span></a>
                                                <a href="#" class="action-btn"><i class="sp-compare-alt"></i><span>Compare</span></a>
                                            </div>
                                        </div>
                                        <div class="product-brief">
                                            <h2><a href="#">Randomised Words</a></h2>
                                            <div class="product-brief-inner">
                                                <h3>$500.00</h3>
                                                <div class="pro-rating">
                                                    <a href="#"><i class="sp-star rating-1"></i></a>
                                                    <a href="#"><i class="sp-star rating-1"></i></a>
                                                    <a href="#"><i class="sp-star rating-1"></i></a>
                                                    <a href="#"><i class="sp-star rating-1"></i></a>
                                                    <a href="#"><i class="sp-star rating-2"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Single-product end -->
                                </div>
                                <div class="col-md-12">
                                    <!-- Single-product start -->
                                    <div class="single-product">
                                        <div class="product-photo">
                                            <a href="#">
                                                <img class="primary-photo" src="~/Content/Client/img/best-sell/4.jpg" alt="" />
                                                <img class="secondary-photo" src="~/Content/Client/img/best-sell/1.jpg" alt="" />
                                            </a>
                                            <div class="pro-action">
                                                <a href="#" class="action-btn"><i class="sp-heart"></i><span>Wishlist</span></a>
                                                <a href="#" class="action-btn"><i class="sp-shopping-cart"></i><span>Add to cart</span></a>
                                                <a href="#" class="action-btn"><i class="sp-compare-alt"></i><span>Compare</span></a>
                                            </div>
                                        </div>
                                        <div class="product-brief">
                                            <h2><a href="#">Randomised Words</a></h2>
                                            <div class="product-brief-inner">
                                                <h3>$500.00</h3>
                                                <div class="pro-rating">
                                                    <a href="#"><i class="sp-star rating-1"></i></a>
                                                    <a href="#"><i class="sp-star rating-1"></i></a>
                                                    <a href="#"><i class="sp-star rating-1"></i></a>
                                                    <a href="#"><i class="sp-star rating-1"></i></a>
                                                    <a href="#"><i class="sp-star rating-2"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Single-product end -->
                                    <!-- Single-product start -->
                                    <div class="single-product">
                                        <div class="product-photo">
                                            <a href="#">
                                                <img class="primary-photo" src="~/Content/Client/img/best-sell/6.jpg" alt="" />
                                                <img class="secondary-photo" src="~/Content/Client/img/best-sell/2.jpg" alt="" />
                                            </a>
                                            <div class="pro-action">
                                                <a href="#" class="action-btn"><i class="sp-heart"></i><span>Wishlist</span></a>
                                                <a href="#" class="action-btn"><i class="sp-shopping-cart"></i><span>Add to cart</span></a>
                                                <a href="#" class="action-btn"><i class="sp-compare-alt"></i><span>Compare</span></a>
                                            </div>
                                        </div>
                                        <div class="product-brief">
                                            <h2><a href="#">Randomised Words</a></h2>
                                            <div class="product-brief-inner">
                                                <h3>$500.00</h3>
                                                <div class="pro-rating">
                                                    <a href="#"><i class="sp-star rating-1"></i></a>
                                                    <a href="#"><i class="sp-star rating-1"></i></a>
                                                    <a href="#"><i class="sp-star rating-1"></i></a>
                                                    <a href="#"><i class="sp-star rating-1"></i></a>
                                                    <a href="#"><i class="sp-star rating-2"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Single-product end -->
                                </div>
                                <div class="col-md-12">
                                    <!-- Single-product start -->
                                    <div class="single-product">
                                        <div class="product-photo">
                                            <a href="#">
                                                <img class="primary-photo" src="~/Content/Client/img/best-sell/4.jpg" alt="" />
                                                <img class="secondary-photo" src="~/Content/Client/img/best-sell/1.jpg" alt="" />
                                            </a>
                                            <div class="pro-action">
                                                <a href="#" class="action-btn"><i class="sp-heart"></i><span>Wishlist</span></a>
                                                <a href="#" class="action-btn"><i class="sp-shopping-cart"></i><span>Add to cart</span></a>
                                                <a href="#" class="action-btn"><i class="sp-compare-alt"></i><span>Compare</span></a>
                                            </div>
                                        </div>
                                        <div class="product-brief">
                                            <h2><a href="#">Randomised Words</a></h2>
                                            <div class="product-brief-inner">
                                                <h3>$500.00</h3>
                                                <div class="pro-rating">
                                                    <a href="#"><i class="sp-star rating-1"></i></a>
                                                    <a href="#"><i class="sp-star rating-1"></i></a>
                                                    <a href="#"><i class="sp-star rating-1"></i></a>
                                                    <a href="#"><i class="sp-star rating-1"></i></a>
                                                    <a href="#"><i class="sp-star rating-2"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Single-product end -->
                                    <!-- Single-product start -->
                                    <div class="single-product">
                                        <div class="product-photo">
                                            <a href="#">
                                                <img class="primary-photo" src="~/Content/Client/img/best-sell/6.jpg" alt="" />
                                                <img class="secondary-photo" src="~/Content/Client/img/best-sell/2.jpg" alt="" />
                                            </a>
                                            <div class="pro-action">
                                                <a href="#" class="action-btn"><i class="sp-heart"></i><span>Wishlist</span></a>
                                                <a href="#" class="action-btn"><i class="sp-shopping-cart"></i><span>Add to cart</span></a>
                                                <a href="#" class="action-btn"><i class="sp-compare-alt"></i><span>Compare</span></a>
                                            </div>
                                        </div>
                                        <div class="product-brief">
                                            <h2><a href="#">Randomised Words</a></h2>
                                            <div class="product-brief-inner">
                                                <h3>$500.00</h3>
                                                <div class="pro-rating">
                                                    <a href="#"><i class="sp-star rating-1"></i></a>
                                                    <a href="#"><i class="sp-star rating-1"></i></a>
                                                    <a href="#"><i class="sp-star rating-1"></i></a>
                                                    <a href="#"><i class="sp-star rating-1"></i></a>
                                                    <a href="#"><i class="sp-star rating-2"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Single-product end -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="accessories">
                        <div class="row">
                            <div class="active-best-sell navigation-top-right">
                                <div class="col-md-12">
                                    <!-- Single-product start -->
                                    <div class="single-product">
                                        <div class="product-photo">
                                            <a href="#">
                                                <img class="primary-photo" src="~/Content/Client/img/best-sell/1.jpg" alt="" />
                                                <img class="secondary-photo" src="~/Content/Client/img/best-sell/6.jpg" alt="" />
                                            </a>
                                            <div class="pro-action">
                                                <a href="#" class="action-btn"><i class="sp-heart"></i><span>Wishlist</span></a>
                                                <a href="#" class="action-btn"><i class="sp-shopping-cart"></i><span>Add to cart</span></a>
                                                <a href="#" class="action-btn"><i class="sp-compare-alt"></i><span>Compare</span></a>
                                            </div>
                                        </div>
                                        <div class="product-brief">
                                            <h2><a href="#">Randomised Words</a></h2>
                                            <div class="product-brief-inner">
                                                <h3>$500.00</h3>
                                                <div class="pro-rating">
                                                    <a href="#"><i class="sp-star rating-1"></i></a>
                                                    <a href="#"><i class="sp-star rating-1"></i></a>
                                                    <a href="#"><i class="sp-star rating-1"></i></a>
                                                    <a href="#"><i class="sp-star rating-1"></i></a>
                                                    <a href="#"><i class="sp-star rating-2"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Single-product end -->
                                    <!-- Single-product start -->
                                    <div class="single-product">
                                        <div class="product-photo">
                                            <a href="#">
                                                <img class="primary-photo" src="~/Content/Client/img/best-sell/4.jpg" alt="" />
                                                <img class="secondary-photo" src="~/Content/Client/img/best-sell/1.jpg" alt="" />
                                            </a>
                                            <div class="pro-action">
                                                <a href="#" class="action-btn"><i class="sp-heart"></i><span>Wishlist</span></a>
                                                <a href="#" class="action-btn"><i class="sp-shopping-cart"></i><span>Add to cart</span></a>
                                                <a href="#" class="action-btn"><i class="sp-compare-alt"></i><span>Compare</span></a>
                                            </div>
                                        </div>
                                        <div class="product-brief">
                                            <h2><a href="#">Randomised Words</a></h2>
                                            <div class="product-brief-inner">
                                                <h3>$500.00</h3>
                                                <div class="pro-rating">
                                                    <a href="#"><i class="sp-star rating-1"></i></a>
                                                    <a href="#"><i class="sp-star rating-1"></i></a>
                                                    <a href="#"><i class="sp-star rating-1"></i></a>
                                                    <a href="#"><i class="sp-star rating-1"></i></a>
                                                    <a href="#"><i class="sp-star rating-2"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Single-product end -->
                                </div>
                                <div class="col-md-12">
                                    <!-- Single-product start -->
                                    <div class="single-product">
                                        <div class="product-photo">
                                            <a href="#">
                                                <img class="primary-photo" src="~/Content/Client/img/best-sell/2.jpg" alt="" />
                                                <img class="secondary-photo" src="~/Content/Client/img/best-sell/4.jpg" alt="" />
                                            </a>
                                            <div class="pro-action">
                                                <a href="#" class="action-btn"><i class="sp-heart"></i><span>Wishlist</span></a>
                                                <a href="#" class="action-btn"><i class="sp-shopping-cart"></i><span>Add to cart</span></a>
                                                <a href="#" class="action-btn"><i class="sp-compare-alt"></i><span>Compare</span></a>
                                            </div>
                                        </div>
                                        <div class="product-brief">
                                            <h2><a href="#">Randomised Words</a></h2>
                                            <div class="product-brief-inner">
                                                <h3>$500.00</h3>
                                                <div class="pro-rating">
                                                    <a href="#"><i class="sp-star rating-1"></i></a>
                                                    <a href="#"><i class="sp-star rating-1"></i></a>
                                                    <a href="#"><i class="sp-star rating-1"></i></a>
                                                    <a href="#"><i class="sp-star rating-1"></i></a>
                                                    <a href="#"><i class="sp-star rating-2"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Single-product end -->
                                    <!-- Single-product start -->
                                    <div class="single-product">
                                        <div class="product-photo">
                                            <a href="#">
                                                <img class="primary-photo" src="~/Content/Client/img/best-sell/5.jpg" alt="" />
                                                <img class="secondary-photo" src="~/Content/Client/img/best-sell/1.jpg" alt="" />
                                            </a>
                                            <div class="pro-action">
                                                <a href="#" class="action-btn"><i class="sp-heart"></i><span>Wishlist</span></a>
                                                <a href="#" class="action-btn"><i class="sp-shopping-cart"></i><span>Add to cart</span></a>
                                                <a href="#" class="action-btn"><i class="sp-compare-alt"></i><span>Compare</span></a>
                                            </div>
                                        </div>
                                        <div class="product-brief">
                                            <h2><a href="#">Randomised Words</a></h2>
                                            <div class="product-brief-inner">
                                                <h3>$500.00</h3>
                                                <div class="pro-rating">
                                                    <a href="#"><i class="sp-star rating-1"></i></a>
                                                    <a href="#"><i class="sp-star rating-1"></i></a>
                                                    <a href="#"><i class="sp-star rating-1"></i></a>
                                                    <a href="#"><i class="sp-star rating-1"></i></a>
                                                    <a href="#"><i class="sp-star rating-2"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Single-product end -->
                                </div>
                                <div class="col-md-12">
                                    <!-- Single-product start -->
                                    <div class="single-product">
                                        <div class="product-photo">
                                            <a href="#">
                                                <img class="primary-photo" src="~/Content/Client/img/best-sell/3.jpg" alt="" />
                                                <img class="secondary-photo" src="~/Content/Client/img/best-sell/5.jpg" alt="" />
                                            </a>
                                            <div class="pro-action">
                                                <a href="#" class="action-btn"><i class="sp-heart"></i><span>Wishlist</span></a>
                                                <a href="#" class="action-btn"><i class="sp-shopping-cart"></i><span>Add to cart</span></a>
                                                <a href="#" class="action-btn"><i class="sp-compare-alt"></i><span>Compare</span></a>
                                            </div>
                                        </div>
                                        <div class="product-brief">
                                            <h2><a href="#">Randomised Words</a></h2>
                                            <div class="product-brief-inner">
                                                <h3>$500.00</h3>
                                                <div class="pro-rating">
                                                    <a href="#"><i class="sp-star rating-1"></i></a>
                                                    <a href="#"><i class="sp-star rating-1"></i></a>
                                                    <a href="#"><i class="sp-star rating-1"></i></a>
                                                    <a href="#"><i class="sp-star rating-1"></i></a>
                                                    <a href="#"><i class="sp-star rating-2"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Single-product end -->
                                    <!-- Single-product start -->
                                    <div class="single-product">
                                        <div class="product-photo">
                                            <a href="#">
                                                <img class="primary-photo" src="~/Content/Client/img/best-sell/6.jpg" alt="" />
                                                <img class="secondary-photo" src="~/Content/Client/img/best-sell/2.jpg" alt="" />
                                            </a>
                                            <div class="pro-action">
                                                <a href="#" class="action-btn"><i class="sp-heart"></i><span>Wishlist</span></a>
                                                <a href="#" class="action-btn"><i class="sp-shopping-cart"></i><span>Add to cart</span></a>
                                                <a href="#" class="action-btn"><i class="sp-compare-alt"></i><span>Compare</span></a>
                                            </div>
                                        </div>
                                        <div class="product-brief">
                                            <h2><a href="#">Randomised Words</a></h2>
                                            <div class="product-brief-inner">
                                                <h3>$500.00</h3>
                                                <div class="pro-rating">
                                                    <a href="#"><i class="sp-star rating-1"></i></a>
                                                    <a href="#"><i class="sp-star rating-1"></i></a>
                                                    <a href="#"><i class="sp-star rating-1"></i></a>
                                                    <a href="#"><i class="sp-star rating-1"></i></a>
                                                    <a href="#"><i class="sp-star rating-2"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Single-product end -->
                                </div>
                                <div class="col-md-12">
                                    <!-- Single-product start -->
                                    <div class="single-product">
                                        <div class="product-photo">
                                            <a href="#">
                                                <img class="primary-photo" src="~/Content/Client/img/best-sell/3.jpg" alt="" />
                                                <img class="secondary-photo" src="~/Content/Client/img/best-sell/5.jpg" alt="" />
                                            </a>
                                            <div class="pro-action">
                                                <a href="#" class="action-btn"><i class="sp-heart"></i><span>Wishlist</span></a>
                                                <a href="#" class="action-btn"><i class="sp-shopping-cart"></i><span>Add to cart</span></a>
                                                <a href="#" class="action-btn"><i class="sp-compare-alt"></i><span>Compare</span></a>
                                            </div>
                                        </div>
                                        <div class="product-brief">
                                            <h2><a href="#">Randomised Words</a></h2>
                                            <div class="product-brief-inner">
                                                <h3>$500.00</h3>
                                                <div class="pro-rating">
                                                    <a href="#"><i class="sp-star rating-1"></i></a>
                                                    <a href="#"><i class="sp-star rating-1"></i></a>
                                                    <a href="#"><i class="sp-star rating-1"></i></a>
                                                    <a href="#"><i class="sp-star rating-1"></i></a>
                                                    <a href="#"><i class="sp-star rating-2"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Single-product end -->
                                    <!-- Single-product start -->
                                    <div class="single-product">
                                        <div class="product-photo">
                                            <a href="#">
                                                <img class="primary-photo" src="~/Content/Client/img/best-sell/6.jpg" alt="" />
                                                <img class="secondary-photo" src="~/Content/Client/img/best-sell/2.jpg" alt="" />
                                            </a>
                                            <div class="pro-action">
                                                <a href="#" class="action-btn"><i class="sp-heart"></i><span>Wishlist</span></a>
                                                <a href="#" class="action-btn"><i class="sp-shopping-cart"></i><span>Add to cart</span></a>
                                                <a href="#" class="action-btn"><i class="sp-compare-alt"></i><span>Compare</span></a>
                                            </div>
                                        </div>
                                        <div class="product-brief">
                                            <h2><a href="#">Randomised Words</a></h2>
                                            <div class="product-brief-inner">
                                                <h3>$500.00</h3>
                                                <div class="pro-rating">
                                                    <a href="#"><i class="sp-star rating-1"></i></a>
                                                    <a href="#"><i class="sp-star rating-1"></i></a>
                                                    <a href="#"><i class="sp-star rating-1"></i></a>
                                                    <a href="#"><i class="sp-star rating-1"></i></a>
                                                    <a href="#"><i class="sp-star rating-2"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Single-product end -->
                                </div>
                                <div class="col-md-12">
                                    <!-- Single-product start -->
                                    <div class="single-product">
                                        <div class="product-photo">
                                            <a href="#">
                                                <img class="primary-photo" src="~/Content/Client/img/best-sell/3.jpg" alt="" />
                                                <img class="secondary-photo" src="~/Content/Client/img/best-sell/5.jpg" alt="" />
                                            </a>
                                            <div class="pro-action">
                                                <a href="#" class="action-btn"><i class="sp-heart"></i><span>Wishlist</span></a>
                                                <a href="#" class="action-btn"><i class="sp-shopping-cart"></i><span>Add to cart</span></a>
                                                <a href="#" class="action-btn"><i class="sp-compare-alt"></i><span>Compare</span></a>
                                            </div>
                                        </div>
                                        <div class="product-brief">
                                            <h2><a href="#">Randomised Words</a></h2>
                                            <div class="product-brief-inner">
                                                <h3>$500.00</h3>
                                                <div class="pro-rating">
                                                    <a href="#"><i class="sp-star rating-1"></i></a>
                                                    <a href="#"><i class="sp-star rating-1"></i></a>
                                                    <a href="#"><i class="sp-star rating-1"></i></a>
                                                    <a href="#"><i class="sp-star rating-1"></i></a>
                                                    <a href="#"><i class="sp-star rating-2"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Single-product end -->
                                    <!-- Single-product start -->
                                    <div class="single-product">
                                        <div class="product-photo">
                                            <a href="#">
                                                <img class="primary-photo" src="~/Content/Client/img/best-sell/6.jpg" alt="" />
                                                <img class="secondary-photo" src="~/Content/Client/img/best-sell/2.jpg" alt="" />
                                            </a>
                                            <div class="pro-action">
                                                <a href="#" class="action-btn"><i class="sp-heart"></i><span>Wishlist</span></a>
                                                <a href="#" class="action-btn"><i class="sp-shopping-cart"></i><span>Add to cart</span></a>
                                                <a href="#" class="action-btn"><i class="sp-compare-alt"></i><span>Compare</span></a>
                                            </div>
                                        </div>
                                        <div class="product-brief">
                                            <h2><a href="#">Randomised Words</a></h2>
                                            <div class="product-brief-inner">
                                                <h3>$500.00</h3>
                                                <div class="pro-rating">
                                                    <a href="#"><i class="sp-star rating-1"></i></a>
                                                    <a href="#"><i class="sp-star rating-1"></i></a>
                                                    <a href="#"><i class="sp-star rating-1"></i></a>
                                                    <a href="#"><i class="sp-star rating-1"></i></a>
                                                    <a href="#"><i class="sp-star rating-2"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Single-product end -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- BEST-SELL-AREA END -->
<!-- ALL-PRODUCT-VIEW START -->
<div class="all-product-view-area margin-bottom-80">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="all-product-view">
                    <div class="row">
                        <div class="col-md-7 col-sm-8 col-xs-12 col-sm-offset-1 col-md-offset-2">
                            <div class="all-product-brief">
                                <h2>to view all products together  !!</h2>
                                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form. There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form</p>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-12">
                            <div class="all-product-view-link">
                                <a href="#" class="shop-now">View All</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ALL-PRODUCT-VIEW END -->
<!-- BEST-SELL-AREA-2 START -->
<div class="best-sell-2-area  margin-bottom-80">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title-2  bordr-rights">
                    <h2 class="border-left-rights">Best Sell</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="active-best-sell-2 navigation-top-right">
        <!-- Single-best-sell-2 Start -->
        <div class="single-best-sell-2">
            <img src="~/Content/Client/img/best-sell-2/1.png" alt="" />
            <div class="best-sell-2-brief">
                <h3><a href="#">Shoues</a></h3>
                <p>Lorem Ipsum available, but the majority have suffered alteration in some form.</p>
                <a href="#" class="shop-now">Shop Now</a>
            </div>
        </div>
        <!-- Single-best-sell-2 End -->
        <!-- Single-best-sell-2 Start -->
        <div class="single-best-sell-2">
            <img src="~/Content/Client/img/best-sell-2/2.png" alt="" />
            <div class="best-sell-2-brief">
                <h3><a href="#">Sunglasses</a></h3>
                <p>Lorem Ipsum available, but the majority have suffered alteration in some form.</p>
                <a href="#" class="shop-now">Shop Now</a>
            </div>
        </div>
        <!-- Single-best-sell-2 End -->
        <!-- Single-best-sell-2 Start -->
        <div class="single-best-sell-2">
            <img src="~/Content/Client/img/best-sell-2/3.png" alt="" />
            <div class="best-sell-2-brief">
                <h3><a href="#">Bags</a></h3>
                <p>Lorem Ipsum available, but the majority have suffered alteration in some form.</p>
                <a href="#" class="shop-now">Shop Now</a>
            </div>
        </div>
        <!-- Single-best-sell-2 End -->
        <!-- Single-best-sell-2 Start -->
        <div class="single-best-sell-2">
            <img src="~/Content/Client/img/best-sell-2/4.png" alt="" />
            <div class="best-sell-2-brief">
                <h3><a href="#">T-shirt</a></h3>
                <p>Lorem Ipsum available, but the majority have suffered alteration in some form.</p>
                <a href="#" class="shop-now">Shop Now</a>
            </div>
        </div>
        <!-- Single-best-sell-2 End -->
        <!-- Single-best-sell-2 Start -->
        <div class="single-best-sell-2">
            <img src="~/Content/Client/img/best-sell-2/1.png" alt="" />
            <div class="best-sell-2-brief">
                <h3><a href="#">Shoues</a></h3>
                <p>Lorem Ipsum available, but the majority have suffered alteration in some form.</p>
                <a href="#" class="shop-now">Shop Now</a>
            </div>
        </div>
        <!-- Single-best-sell-2 End -->
    </div>
</div>
<!-- BEST-SELL-AREA-2 END -->
<!-- BRAND-LOGO-AREA START -->
<div class="brand-logo-area margin-bottom-80">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-sm-12">
                <div class="brand-brief">
                    <h2 class="border-left-right">they are with us</h2>
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </p>
                </div>
            </div>
            <div class="col-md-7 col-sm-12">
                <div class="brand-logo fix">
                    <div class="single-logo">
                        <img src="~/Content/Client/img/brand/1.png" alt="" />
                    </div>
                    <div class="single-logo">
                        <img src="~/Content/Client/img/brand/2.png" alt="" />
                    </div>
                    <div class="single-logo">
                        <img src="~/Content/Client/img/brand/3.png" alt="" />
                    </div>
                    <div class="single-logo">
                        <img src="~/Content/Client/img/brand/4.png" alt="" />
                    </div>
                    <div class="single-logo">
                        <img src="~/Content/Client/img/brand/5.png" alt="" />
                    </div>
                    <div class="single-logo">
                        <img src="~/Content/Client/img/brand/6.png" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- BRAND-LOGO-AREA END -->
<!-- TESTIMONIAL-AREA START -->
<div class="testimonial-area margin-bottom-80">
    <div class="testimonial">
        <h2><sup><i class="sp-quote"></i></sup> they love us</h2>
        <div class="testimonial-border">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="active-testimonial">
                            <div class="single-testimonial">
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <div class="client-photo">
                                        <img src="~/Content/Client/img/testimonial/1.png" alt="" />
                                    </div>
                                </div>
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                    <div class="client-opinion">
                                        <h3>jorina doe</h3>
                                        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has rootsContrary to popular belief, Lorem Ipsum is not simply random text. It has roots. Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots Contrary to popular belief, </p>
                                    </div>
                                </div>
                            </div>
                            <div class="single-testimonial">
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <div class="client-photo">
                                        <img src="~/Content/Client/img/testimonial/1.png" alt="" />
                                    </div>
                                </div>
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                    <div class="client-opinion">
                                        <h3>jorina doe</h3>
                                        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has rootsContrary to popular belief, Lorem Ipsum is not simply random text. It has roots. Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots Contrary to popular belief, </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- TESTIMONIAL-AREA END -->
<!-- SERVICE-AREA START -->
<div class="service-area margin-bottom-80">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="single-service">
                    <div class="service-icon">
                        <i class="sp-transport"></i>
                    </div>
                    <div class="service-brief">
                        <h3>free shipping</h3>
                        <p>There are many variations of passages of Lorem Ipsum available, alteration</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="single-service">
                    <div class="service-icon">
                        <i class="sp-head-phone"></i>
                    </div>
                    <div class="service-brief">
                        <h3>help line</h3>
                        <p>(+112) 1925184203 - call any time for any support Lorem Ipsum available, alteration </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="single-service">
                    <div class="service-icon">
                        <i class="sp-business"></i>
                    </div>
                    <div class="service-brief">
                        <h3>money back guarantee</h3>
                        <p>There are many variations of passages of Lorem Ipsum available, alteration</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- SERVICE-AREA END -->
<!-- BLOG-AREA START -->
<div class="blog-area margin-bottom-80">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title text-center">
                    <h2>from blog</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="single-blog">
                    <div class="blog-photo">
                        <a href="#"><img src="~/Content/Client/img/blog/1.jpg" alt="" /></a>
                        <div class="blog-post-date">
                            <span>15th</span>
                            <span>Jan</span>
                        </div>
                    </div>
                    <div class="blog-brief">
                        <p>Lorem ipsum dolr sit amet, It is not simply random text. It has roots...</p>
                        <div class="like-comment">
                            <a href="#"><i class="sp-like"></i>120 like</a>
                            <a href="#"><i class="sp-comment"></i>60 comment</a>
                        </div>
                        <a class="shop-now" href="#">Read more</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="single-blog">
                    <div class="blog-photo">
                        <a href="#"><img src="~/Content/Client/img/blog/2.jpg" alt="" /></a>
                        <div class="blog-post-date">
                            <span>13th</span>
                            <span>Feb</span>
                        </div>
                    </div>
                    <div class="blog-brief">
                        <p>Lorem ipsum dolr sit amet, It is not simply random text. It has roots...</p>
                        <div class="like-comment">
                            <a href="#"><i class="sp-like"></i>120 like</a>
                            <a href="#"><i class="sp-comment"></i>60 comment</a>
                        </div>
                        <a class="shop-now" href="#">Read more</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="single-blog">
                    <div class="blog-photo">
                        <a href="#"><img src="~/Content/Client/img/blog/3.jpg" alt="" /></a>
                        <div class="blog-post-date">
                            <span>25th</span>
                            <span>Feb</span>
                        </div>
                    </div>
                    <div class="blog-brief">
                        <p>Lorem ipsum dolr sit amet, It is not simply random text. It has roots...</p>
                        <div class="like-comment">
                            <a href="#"><i class="sp-like"></i>120 like</a>
                            <a href="#"><i class="sp-comment"></i>60 comment</a>
                        </div>
                        <a class="shop-now" href="#">Read more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- BLOG-AREA END -->
<!-- SUBSCRIBE-AREA START -->
<div class="suscribe-area margin-bottom-80">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="subscribe">
                    <div class="subscribe-brief">
                        <h3>enter your email address</h3>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.</p>
                    </div>
                    <div class="subscribe-form">
                        <form action="#">
                            <input type="text" placeholder="Enter email to subscribe" />
                            <button type="submit">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- SUBSCRIBE-AREA START END -->